name: Storybook

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '.github/workflows/storybook.yml'
      - 'src/**/*.{json|js|jsx|ts|tsx}'
      - 'src/stories/**'
      - '.storybook/**'
      - '.github/workflows/storybook.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Build Storybook
        run: npm run build-storybook

      #     - name: Archive artifacts
      #       uses: actions/upload-artifact@v2
      #       with:
      #         name: compiled-code
      #         path: ./storybook-static
      # deploy:
      #   needs: build
      #   runs-on: ubuntu-latest
      #   # if: github.ref == 'refs/heads/main'
      #   steps:
      #     - name: Download artifacts
      #       uses: actions/download-artifact@v2
      #       with:
      #         name: compiled-code
      # TODO actions-gh-pages doesnt find (any) dir when we use download artifacts

      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./storybook-static
